/* gruvbox dark mode
 * https://github.com/morhetz/gruvbox
 */
:root {
    --dark-black: #1d2021;
    --black: #282828;
    --bright-black: #928374;
    
    --white: #ebdbb2;
    --bright-white: #fbf1c7;
    
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --magenta: #b16286;
    --cyan: #689d6a;
    --orange: #d65d0e;
    --gray: #928374;
    
    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-magenta: #d3869b;
    --bright-cyan: #8ec07c;
    --bright-orange: #fe8019;
    --bright-gray: #a89984;
}
