/* risotto-pink
 * https://github.com/rio-codes/risotto-pink
 */
:root {
    --dusty-rose: #cf8c83;
    --really-light-pink: #f9e5e4;
    --light-pink: #edaaa6;
    --dark-pink: #c3766c;
    --aqua: #97e4da;
    --bright-aqua: #b6ece5;
}
