/* Main menu */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0 0 0.25rem 0;
    gap: 0rem 1.5rem;
}

.main-nav li {
    padding-top: 0.25rem;
    margin-left: 1rem;
    text-transform: lowercase;
}

.main-nav li::marker {
    content: "./";
}

