{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
    {{ end }}

    {{ range $taxonomy, $terms := .Site.Taxonomies }}
        {{ if (index $.Params $taxonomy) }}
            <p>
            {{ $taxonomy }}: 
                {{ range $index, $term := (index $.Params $taxonomy) }}{{ if $index }}, {{ end }}
                <a href="{{ printf "%s/" $taxonomy | relURL }}{{ $term | urlize }}">{{ $term }}</a>{{ end }}
            </p>
        {{ end }}
    {{end}}

    {{ if and (.Params.toc) (.TableOfContents) }}
	    <hr>
	    On this page:
	    {{ .TableOfContents }}
    {{ end }}
{{ end }}
