/* Main menu */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem 2rem;
}

.main-nav li {
    text-transform: lowercase;
}

.main-nav li::marker {
    content: "./";
}

